// Start Styling The Best Coffee Section
.best-coffee {
  padding: 150px 0 50px;
  background-color: $gray2;

  .best-coffee-boxs {
    display: flex;
    flex-wrap: wrap;

    .best-coffee-box {
      flex-basis: 95%;
      margin: 0 auto;

      &:last-of-type {
        flex-basis: auto;
        margin: auto;

        @media(min-width: 768px) {
          margin: 0;
        }
      }

      h2 {
        color: $orange;

        font: {
          family: damion, cursive, sans-serif;
          size: 30px;
        }
      }

      h3 {
        font-size: 30px;
        margin: 10px 0;
      }

      p {
        font-size: 15px;

        span {
          &.blue {
            color: $blue;
          }

          &.green {
            color: $green;
          }
        }
      }

      .link {
        margin: 50px 0;

        a {
          padding: 11px 50px;
        }
      }

      img {
        border-radius: 50%;
        border: 10px solid $white;
        width: auto;
      }

      @media(min-width: 768px) {
        flex-basis: 65%;
      }
    }

    @media(min-width: 768px) {
      justify-content: space-between;
    }
  }


}

// Finish Styling The Best Coffee Section
// Start Styling The Best Coffee Section
.popular-items {
  background-color: $gray2;

  .popular-items-boxs {
    display: flex;
    flex-wrap: wrap;

    .popular-items-box {
      flex-basis: 95%;
      margin: 0 auto 80px;
      background: url(../assets/images/popular-item-bg.png) 0% 0% / 100% 100% no-repeat;
      position: relative;
      transition: 0.3s ease-in-out;

      .popular-items-box-image {
        padding: 0 5px 0px 3px;

        @media (min-width: 576px) {
          padding: 0 6px 0px 4px;
        }

        @media (min-width: 992px) {
          padding: 0 5px 0px 3px;
        }
      }

      .popular-items-box-text {
        padding: 30px 30px 50px;
        text-align: center;

        h2 {
          font: {
            family: damion, cursive, sans-serif;
            size: 34px;
          }

          border-bottom: 1px solid $gray4;
          color: $gray3;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
          }

          &::first-letter {
            font-size: 60px;
          }
        }

        p {
          font-size: 15px;
        }
      }

      .popular-items-box-link {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $gray5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;

        &:hover {
          a {
            color: $orange;
            border-color: $orange;
          }
        }

        a {
          font: {
            size: 24px;
            weight: 700;
          }

          text-align: center;
          color: $gray3;
          padding: 7px;
          width: 85px;
          height: 85px;
          border-radius: 50%;
          border: 2px solid $gray3;
          transition: 0.3s ease-in-out;
        }
      }

      &:hover {
        background: url(../assets/images/popular-item-bg-hover.png) 0% 0% / 100% 100% no-repeat;

        a {
          color: $orange;
          border-color: $orange;
        }

        h2 {
          color: $orange;
          border-bottom: 1px solid $orange;
        }
      }

      @media (min-width: 576px) {
        flex-basis: 80%;
      }

      @media (min-width: 768px) {
        flex-basis: 51%;
      }

      @media (min-width: 992px) {
        flex-basis: 30%;
      }
    }

    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }
}

// Finish Styling The Best Coffee Section
// Start Styling The Special Section
.special {
  background-color: $gray2;
  padding: 50px 0;

  .special-boxs {
    display: flex;
    flex-wrap: wrap;

    .special-box {
      flex-basis: 95%;
      position: relative;
      margin: 0 auto 20px;

      &:first-of-type {
        @media (min-width: 992px) {
          flex-basis: 57%;
          height: fit-content;
        }

        @media (min-width: 1200px) {
          flex-basis: 57.5%;
        }
      }

      .special-box-image {
        img {
          border: 10px solid $white;
        }
      }

      .special-box-text {
        background-color: $light-black2;
        position: absolute;
        bottom: 0;
        width: calc(100% - 20px);
        color: $white;
        margin: 10px;
        padding: 0px 0px 10px 10px;

        h3 {
          font-size: 24px;
          padding-top: 10px;
        }

        p {
          font-size: 15px;
        }
      }

      .special-box-boxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .special-box-box {
          position: relative;

          &:first-of-type {
            margin-bottom: 20px;
            flex-basis: 100%;

            @media (min-width: 1200px) {
              margin-bottom: 25px;
            }
          }

          .special-box-box-image {
            img {
              border: 10px solid $white;
            }
          }

          .special-box-box-text {
            background-color: $light-black2;
            position: absolute;
            bottom: 0;
            width: calc(100% - 20px);
            color: $white;
            margin: 10px;
            padding: 0px 0px 10px 10px;

            h3 {
              font-size: 24px;
              padding-top: 10px;
            }

            p {
              font-size: 15px;
            }
          }


          &:not(:first-of-type) {
            flex-basis: 47%;

            .special-box-box-text {
              p {
                padding-top: 10px;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        flex-basis: 80%;
      }

      @media (min-width: 992px) {
        flex-basis: 40%;
        margin: 0;
      }
    }

    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }
}

// Finish Styling The Special Section
// Start Styling The Menu Section
.menu {
  background-color: $gray2;
  padding: 50px 0 0;

  .menu-boxs {
    display: flex;
    flex-wrap: wrap;

    .menu-box {
      flex-basis: 95%;
      margin: 0 auto 30px;

      &:last-of-type {
        margin-bottom: 0;

        @media (min-width: 992px) {
          flex-basis: 65%;
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 30px;

        @media (min-width: 576px) {
          font-size: 16px;
        }
      }

      ol {
        font-size: 14px;
        padding: 0 30px 0 50px;

        li {
          color: $orange;
          font-weight: 700;

          span {
            color: $black;
            font-weight: 400;
          }
        }

        @media (min-width: 576px) {
          font-size: 16px;
        }
      }

      .link {
        margin: 50px 0;

        a {
          padding: 11px 50px;
        }
      }

      @media (min-width: 576px) {
        flex-basis: 85%;
      }

      @media (min-width: 768px) {
        flex-basis: 65%;
      }

      @media (min-width: 992px) {
        flex-basis: 27%;
        margin: 0;
      }

      @media (min-width: 1200px) {
        flex-basis: 25%;
      }
    }

    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }

  @media (min-width: 1200px) {
    padding: 50px 0 50px;
  }
}

// Finish Styling The Menu Section