// Start Styling The Variety Section
.variety {
  padding: 150px 0 50px;
  background-color: $gray2;

  .variety-boxs {
    display: flex;
    flex-wrap: wrap;

    .variety-box {
      flex-basis: 95%;
      margin: 0 auto;

      &:last-of-type {
        flex-basis: auto;
        margin: auto;

        @media(min-width: 768px) {
          margin: 0;
        }
      }

      h2 {
        color: $orange;

        font: {
          family: damion, cursive, sans-serif;
          size: 30px;
        }
      }

      h3 {
        font-size: 30px;
        margin: 10px 0;
      }

      p {
        font-size: 15px;

        span {
          &.blue {
            color: $blue;
          }

          &.green {
            color: $green;
          }
        }
      }

      .link {
        margin: 50px 0;

        a {
          padding: 11px 50px;
        }
      }

      img {
        border-radius: 50%;
        border: 10px solid $white;
        width: auto;
      }

      @media(min-width: 768px) {
        flex-basis: 65%;
      }
    }

    @media(min-width: 768px) {
      justify-content: space-between;
    }
  }


}

// Finish Styling The Variety Section

// Start Styling The Our Menus Section
.our-menus {
  background-color: $gray2;
  padding-bottom: 70px;

  .our-menus-boxs {
    display: flex;
    flex-wrap: wrap;

    .our-menus-box {
      flex-basis: 95%;
      margin: 0 auto 30px;

      &:first-of-type {
        @media (min-width:992px) {
          flex-basis: 245px;
          margin: 0;
        }
      }

      .our-menus-box-menu {
        background-image: url(../assets/images/vertical-menu-bg.png);
        background-repeat: no-repeat;
        padding: 10px 0;
        width: 243px;
        margin: auto;

        ul {
          padding: 0;

          li {
            a {
              text-align: center;
              text-transform: uppercase;
              color: $orange4;
              height: 34px;
              display: block;
              padding: 2px 0;
              transition: 0.3s ease-in-out;

              &.active {
                color: $orange;
              }
            }
          }
        }

        @media (min-width:992px) {
          margin: 0;
        }
      }

      .our-menus-box-boxs {
        display: flex;
        flex-wrap: wrap;

        .our-menus-box-box {
          flex-basis: 100%;
          background-color: $white;
          border-radius: 5px;
          margin-bottom: 30px;
          padding: 20px 0;
          cursor: pointer;

          .our-menus-box-box-image {
            width: 50%;
            margin: auto;

            @media (min-width:768px) {
              width: auto;
              flex-basis: 25%;
              margin: 0;
            }
          }

          .our-menus-box-box-text {
            text-align: center;

            .our-menus-box-box-text-text {
              h2 {
                margin: 20px 0;
                transition: 0.3s ease-in-out;

                &:hover {
                  color: $orange;
                }

                @media (min-width:768px) {
                  margin: 0 0 20px;
                }
              }

              p {
                font-size: 14px;
                padding: 0 30px;

                @media (min-width:768px) {
                  padding: 0;
                  font-size: 15px;
                }
              }

              @media (min-width:768px) {
                flex-basis: calc(95% - 100px);
              }
            }

            .our-menus-box-box-text-link {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background-color: $gray5;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: auto;

              &:hover {
                a {
                  color: $orange;
                  border-color: $orange;
                }
              }

              a {
                font: {
                  size: 40px;
                  weight: 700;
                }

                text-align: center;
                color: $gray3;
                padding-top: 10px;
                width: 85px;
                height: 85px;
                border-radius: 50%;
                border: 2px solid $gray3;
                transition: 0.3s ease-in-out;

                &::first-letter {
                  font-size: 20px;
                  vertical-align: super;
                }
              }

              @media (min-width:768px) {
                flex-basis: 100px;
                margin: 0;
              }
            }

            @media (min-width:768px) {
              display: flex;
              justify-content: space-between;
              align-items: center;
              text-align: left;
              flex-basis: 70%;
            }
          }

          &:hover {
            h2 {
              color: $orange;
            }

            .our-menus-box-box-text-link {
              a {
                color: $orange;
                border-color: $orange;
              }
            }
          }

          @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
          }
        }
      }

      @media (min-width:992px) {
        flex-basis: calc(95% - 245px);
        margin: 0;
      }
    }

    @media (min-width:992px) {
      justify-content: space-between;
    }
  }
}

// Finish Styling The Our Menus Section