// Start Designing The Best Coffee Section
section(class="best-coffee")
  div(class="container")
    div(class="best-coffee-boxs")
      div(class="best-coffee-box")
        h2 The Best Coffee for you
        h3 Cafe House
        p This is free HTML5 website template from #[span(class="blue") template]#[span(class="green") mo]. Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.
        div(class="link")
          a(href="#") Read More
      div(class="best-coffee-box")
        img(src="../content/assets/images/1.jpg" alt="Green Tea Image")
// Finish Designing The Best Coffee Section