// start Designing The Contact Section
section(class="contact")
  div(class="container")
    h2 Send us a message
    div(class="contact-boxs")
      div(class="contact-box")
        div(class="contact-box-form")
          form
            input(class="form" type="text" placeholder="Name")
            input(class="form" type="email" placeholder="EMAIL")
            input(class="form" type="text" placeholder="SUBJECT")
            textarea(class="form" placeholder="MESSAGE")
            div(class="link")
              a(href="#") Send message
      div(class="contact-box")
        div(class="contact-box-map")
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13811.020057057125!2d31.313711605773925!3d30.072556068425424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1611884911240!5m2!1sar!2seg")
// Finish Designing The Contact Section