// Start Designing The Menu Section
section(class="menu")
  div(class="container")
    div(class="title")
      h2
        img(src="../content/assets/images/logo.png" alt="Logo Image")
        span(class="title-text") Daily Menu
      span(class="line") 
    div(class="menu-boxs")
      div(class="menu-box")
        img(src="../content/assets/images/menu-board.png" alt="Menu Board Image")
      div(class="menu-box")
        p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
        ol
          li #[span Tellus eget condimentum rhoncus.]
          li #[span Sem quam semper libero.]
          li #[span Sit amet adipiscing sem neque sed ipsum.]
          li #[span Nam quam nunc, blandit vel, luctus pulvinar.]
          li #[span Maecenas nec odio et ante tincidunt tempus.]
          li #[span Donec vitae sapien ut libero ventenatis faucibus.]
        div(class="link")
          a(href="#") Read More
// Finish Designing The Menu Section