// Start Designing The Our Menus Section
section(class="our-menus")
  div(class="container")
    div(class="title")
      h2
        img(src="../content/assets/images/logo.png" alt="Logo Image")
        span(class="title-text") Our Menus
      span(class="line")
    div(class="our-menus-boxs")
      div(class="our-menus-box")
        div(class="our-menus-box-menu")
          ul
            li #[a(href="#" class="active") Affogato]
            li #[a(href="#") Caffè Americano]
            li #[a(href="#") Caffè latte]
            li #[a(href="#") Coffee milk]
            li #[a(href="#") Café mocha]
            li #[a(href="#") Cappuccino]
            li #[a(href="#") Espresso]
            li #[a(href="#") Iced coffee]
            li #[a(href="#") Instant coffee]
            li #[a(href="#") Mocha]
            li #[a(href="#") black coffee]
      div(class="our-menus-box")
        div(class="our-menus-box-boxs")
          div(class="our-menus-box-box")
            div(class="our-menus-box-box-image")
              img(src="../content/assets/images/menu-1.jpg" alt="Menu Image")
            div(class="our-menus-box-box-text")
              div(class="our-menus-box-box-text-text")
                h2 Americano 1
                p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. Red ipsum.
              div(class="our-menus-box-box-text-link")
                a(href="#") $30
          div(class="our-menus-box-box")
            div(class="our-menus-box-box-image")
              img(src="../content/assets/images/menu-2.jpg" alt="Menu Image")
            div(class="our-menus-box-box-text")
              div(class="our-menus-box-box-text-text")
                h2 Americano 2
                p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. Red ipsum.
              div(class="our-menus-box-box-text-link")
                a(href="#") $20
          div(class="our-menus-box-box")
            div(class="our-menus-box-box-image")
              img(src="../content/assets/images/menu-3.jpg" alt="Menu Image")
            div(class="our-menus-box-box-text")
              div(class="our-menus-box-box-text-text")
                h2 Americano 3
                p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. Red ipsum.
              div(class="our-menus-box-box-text-link")
                a(href="#") $15
          div(class="our-menus-box-box")
            div(class="our-menus-box-box-image")
              img(src="../content/assets/images/menu-4.jpg" alt="Menu Image")
            div(class="our-menus-box-box-text")
              div(class="our-menus-box-box-text-text")
                h2 Americano 4
                p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. Red ipsum.
              div(class="our-menus-box-box-text-link")
                a(href="#") $25
          div(class="our-menus-box-box")
            div(class="our-menus-box-box-image")
              img(src="../content/assets/images/menu-5.jpg" alt="Menu Image")
            div(class="our-menus-box-box-text")
              div(class="our-menus-box-box-text-text")
                h2 Americano 5
                p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. Red ipsum.
              div(class="our-menus-box-box-text-link")
                a(href="#") $45
// Finish Designing The Our Menus Section