div(class="popular-items-box")
  div(class="popular-items-box-image")
    img(src="../content/assets/images/popular-1.jpg" alt="Popular Image")
  div(class="popular-items-box-text")
    h2 americano
    p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
  div(class="popular-items-box-link")
    a(href="#") Order Now
div(class="popular-items-box")
  div(class="popular-items-box-image")
    img(src="../content/assets/images/popular-2.jpg" alt="Popular Image")
  div(class="popular-items-box-text")
    h2 cappuccino
    p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
  div(class="popular-items-box-link")
    a(href="#") Order Now
div(class="popular-items-box")
  div(class="popular-items-box-image")
    img(src="../content/assets/images/popular-3.jpg" alt="Popular Image")
  div(class="popular-items-box-text")
    h2 mocha
    p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
  div(class="popular-items-box-link")
    a(href="#") Order Now