// Start Designing The Popular Items Section
section(class="popular-items")
  div(class="container")
    div(class="title")
      h2
        img(src="../content/assets/images/logo.png" alt="Logo Image")
        span(class="title-text") Popular Items
      span(class="line")
    div(class="popular-items-boxs")
      block boxs
// Finish Designing The Popular Items Section