script(src="../content/js/abstract/jquery-3.5.1.min.js")
script(src="../content/js/abstract/all.min.js")
script(src="../content/js/abstract/bootstrap.bundle.min.js")
script(src="../content/js/main.js")