// Start Designing The Special Section
section(class="special")
  div(class="container")
    div(class="title")
      h2
        img(src="../content/assets/images/logo.png" alt="Logo Image")
        span(class="title-text") Today's Special
      span(class="line") 
    div(class="special-boxs")
      div(class="special-box")
        div(class="special-box-image")
          img(src="../content/assets/images/special-1.jpg" alt="Special Image")
        div(class="special-box-text")
          h3 Donec pede justo
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      div(class="special-box")
        div(class="special-box-boxs")
          div(class="special-box-box")
            div(class="special-box-box-image")
              img(src="../content/assets/images/special-2.jpg" alt="Special Image")
            div(class="special-box-box-text")
              h3 Etiam sit amet
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          div(class="special-box-box")
            div(class="special-box-box-image")
              img(src="../content/assets/images/special-3.jpg" alt="Special Image")
            div(class="special-box-box-text")
              p Vivamus elementum
          div(class="special-box-box")
            div(class="special-box-box-image")
              img(src="../content/assets/images/special-4.jpg" alt="Special Image")
            div(class="special-box-box-text")
              p Quisque rutrum.
// Finish Designing The Special Section