link(rel="icon" href="../content/assets/images/favicon.ico")
link(rel="stylesheet" href="../content/css/abstract/all.min.css")
link(rel="stylesheet" href="../content/css/abstract/bootstrap.min.css")
link(rel="stylesheet" href="../content/css/main.css")