// Start Designing The Website Footer
footer
  div(class="container")
    div(class="footer-boxs")
      div(class="footer-box")
        h3 Main Menu
        ul
          li #[a(href="#") Home]
          li #[a(href="#") About Us]
          li #[a(href="#") Directory]
          li #[a(href="#") Blog]
          li #[a(href="#") Our Services]
      div(class="footer-box")
        h3 About Us
        p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
        p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
      div(class="footer-box")
        h3 Get Social
        p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante.
        div(class="footer-box-icons")
          div(class="footer-box-icon")
            a(href="#") #[i(class="fab fa-facebook-f")]
          div(class="footer-box-icon")
            a(href="#") #[i(class="fab fa-twitter")]
          div(class="footer-box-icon")
            a(href="#") #[i(class="fab fa-linkedin")]
          div(class="footer-box-icon")
            a(href="#") #[i(class="fab fa-youtube")]
          div(class="footer-box-icon")
            a(href="#") #[i(class="fab fa-behance")]
  div(class="footer-copyrights")
    div(class="container")
      p Copyright &copy; 2021 Your Cafe House. Design: template mo. Code: #[span Mina Karam Ghoprial]
// Finish Designing The Website Footer