section(class="banner")
  div(class="container")
    div(class="banner-images")
      div(class="banner-image")
        img(src="../content/assets/images/light.png" alt="Light Image")
      div(class="banner-image")
        img(src="../content/assets/images/light.png" alt="Light Image")
      div(class="banner-image")
        img(src="../content/assets/images/light.png" alt="Light Image")
    div(class="banner-text")
      block banner-text