// Start Designing The Website Header
nav(class="navbar navbar-expand-lg")
  div(class="container")
    a(class="navbar-brand" href="#") #[img(src="../content/assets/images/logo.png" alt="Logo Image")] #[span Cafe House]
    i(class=" fas fa-bars")
    div(class="collapse navbar-collapse")
      block navbar