// Start Styling The Website Footer
footer {
  background-color: $light-black3;

  .footer-boxs {
    padding: 50px 0;
    color: $white;
    display: flex;
    flex-wrap: wrap;

    .footer-box {
      flex-basis: 95%;
      margin: auto;

      &:not(:last-of-type) {
        margin-bottom: 40px;

        @media (min-width: 992px) {
          margin: 0;
        }
      }

      &:first-of-type {
        @media (min-width: 992px) {
          flex-basis: 20%;
        }
      }

      &:last-of-type {
        @media (min-width: 992px) {
          flex-basis: 30%;
        }
      }

      h3 {
        font: {
          size: 21px;
          weight: 700;
        }

        margin-bottom: 20px;
        text-transform: uppercase;
      }

      ul {
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            text-transform: uppercase;

            font: {
              weight: 700;
              size: 14px;
            }

            &:hover {
              color: $orange;
            }
          }
        }
      }

      p {
        font-size: 14px;
      }

      .footer-box-icons {
        display: flex;
        margin-top: 30px;

        .footer-box-icon {
          width: 35px;
          height: 35px;
          border-radius: 5px;
          background-color: $light-black4;
          margin: 0 5px;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: $orange2;
          }

          a {
            text-align: center;
            padding-top: 7px;
            width: 35px;
            height: 35px;
            display: inline-block;
            color: $white;

            svg {
              font-size: 20px;
            }
          }
        }
      }

      @media (min-width: 992px) {
        flex-basis: 40%;
        margin: 0;
      }
    }

    @media (min-width: 992px) {
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .footer-copyrights {
    background-color: $white;
    text-align: center;

    p {
      margin-bottom: 0;
      padding: 25px 0;
      font-size: 14px;

      span {
        color: $blue;

        font: {
          size: 16px;
          weight: 700;
        }
      }
    }
  }
}

// Finish Styling The Website Footer