// Start Global Style For The Whole Website 
@font-face {
  font-family: damion;
  src: url('../fonts/Damion/Damion.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Damion/Damion.eot?#iefix') format('embedded-opentype'),
    /* IE6 - IE8 */
    url('../fonts/Damion/Damion.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/Damion/Damion.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/Damion/Damion.ttf') format('truetype'),
    /* Safari, Android, IOS */
    url('../fonts/Damion/Damion.svg#svgFontName') format('svg');
  /* Legacy IOS */
}

@font-face {
  font-family: open-sans;
  src: url('../fonts/OpenSans/OpenSans.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
    /* IE6 - IE8 */
    url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/OpenSans/OpenSans.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../fonts/OpenSans/OpenSans.ttf') format('truetype'),
    /* Safari, Android, IOS */
    url('../fonts/OpenSans/OpenSans.svg#svgFontName') format('svg');
  /* Legacy IOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: open-sans, cursive, sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}

img {
  width: 100%;
}

.link {
  margin: 50px auto;

  background: {
    image: url(../assets/images/tm-brown-button.png);
    repeat: no-repeat;
  }

  width: fit-content;

  a {
    padding: 11px 66px;
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    color: $orange;

    &.message-us {
      padding: 11px 47px;
    }

    &.read-more {
      padding: 11px 50px;
    }

    &:hover {
      color: $white;
    }
  }
}

.title {
  position: relative;
  margin-bottom: 50px;

  h2 {
    position: relative;
    z-index: 2;
    background-color: $gray2;
    color: $orange;
    width: fit-content;

    img {
      width: auto;
      vertical-align: sub;
    }

    .title-text {
      margin: 0 10px;
      font-family: damion, cursive, sans-serif;
    }
  }

  .line {
    position: absolute;
    top: 65%;
    z-index: 1;
    display: inline-block;
    background-color: $orange;
    height: 1px;
    width: 100%;
  }
}

.go-to-top {
  position: fixed;
  z-index: 4;
  right: 30px;
  bottom: 30px;
  display: none;

  a {
    display: block;
    font-size: 16px;
    color: $white;
    background-color: $orange;
    text-align: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 20px;
    padding-top: 7px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $orange2;
    }
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $blue2;
    animation: spin 2s linear infinite;
    z-index: 1001;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $red;
      animation: spin 3s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $yellow;
      animation: spin 1.5s linear infinite;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $black2;
    z-index: 1000;
    transform: translateX(0);

    &.section-left {
      left: 0;
    }

    &.section-right {
      right: 0;
    }
  }
}

.loaded {
  .loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.3s 1s ease-out;

    .loader {
      opacity: 0;
      transition: 0.3s ease-out;
    }

    .loader-section {
      &.section-left {
        transform: translateX(-100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }

      &.section-right {
        transform: translateX(100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }
    }
  }

}

// Finish Global Style For The Whole Website 