$white: #fff;
$black: #000;
$black2: #222222;
$light-black: #282726;
$light-black2: #00000099;
$light-black3: #302f2f;
$light-black4: #505050;
$light-black5: #555;
$orange: #c79c60;
$orange2: #BB8232;
$orange3: #885d21;
$orange4: #7c6a51;
$gray: #949494;
$gray2: #e4e4e4;
$gray3: #aeaeae;
$gray4: #eeeeee;
$gray5: #524c4c;
$gray6: #ccc;
$blue: #0066cc;
$blue2: #3498db;
$green: #30a430;
$red: #e74c3c;
$yellow: #f9c922;